.W-max { width: 900px; }
.W-cb { width: 400px; }

.M-a { margin: auto; }
.M-std { margin: 1em; }

.F-l { float: left; }
.Cl-b { clear: both; }

.F-palatino { font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; }

.Lh-std { line-height: 1.5; }